![imdb.jpg](attachment:imdb.jpg)




> ## Explanation :

This Database Contains Movies Created By Several Directors In The World.

This Database Can Be Seen At: https://www.kaggle.com/luizpaulodeoliveira/imdb-project-sql

This Database Contains Two Tables. The First Table Is Called 'directors', Contains The Name Of The Director And His Gender. The Second Table Is Called 'movies', Contains The Title Of The Movies, budget, revenue, popularity, etc.

From This database, You Can Find Out The Best Movies Based On Income, Popularity And Votes. In Addition, You Can Also Find Out The Best Director Based On The Amount Of Revenue From All His Movies.

The Correlation Coefficient Of These Two Tables Can Show The Effect Of Each Column To The Other Column.

###  Analysis on IMDB useful libraries with sql

> ### Explanation

**SQLite :** - SQLite database is integrated with the application that accesses the database. The applications interact with the SQLite database read and write directly from the database files stored on disk.
         
- SQLite does NOT require a server to run.


- Refer at https://www.sqlite.org/index.html
    
    
    
> ![sqlite_image.jpg](attachment:sqlite_image.jpg)


**PANDAS :**
    - Pandas provide high performance, fast, easy to use data structures and data analysis tools for manipulating numeric data and time series. Pandas is built on the numpy library and written in languages like Python, Cython, and C. In pandas, we can import data from various file formats like JSON, SQL, Microsoft Excel, etc.
    
**NUMPY:**
       - Numpy is an Python library,It is used for scientific computing in python.It contains a collection of tools and techniques that can be used to solve on computers with mathematical model of problems.
       - High performance and multi-dimensional areay objects.
       - High level mathematical functions.
       - matrices
       
       
 ### Data Visualizations
 - Data Visualization is the graphic representation of data. It converts a huge dataset into small graphs, thus aids in data analysis and predictions
       
**MATPLOTLIB**
- It is a Python library used for plotting graphs with the help of other libraries like Numpy and Pandas. It is a powerful tool for visualizing data in Python. It is used for creating statical interferences and plotting 2D graphs of arrays

**SEABORN:**
- It is also a Python library used for plotting graphs with the help of Matplotlib, Pandas, and Numpy. It is built on the roof of Matplotlib and is considered as a superset of the Matplotlib library. It helps in visualizing univariate and bivariate data

In [1]:
# Import Pandas and NumPy

import numpy as np
import pandas as pd

# Import Libraries for plotting    # Visualizations
import matplotlib.pyplot as plt
import seaborn as sns



#pip install db-sqlite3
#SQLite in general is a server-less database that you can use within almost all programming languages including Python.
import sqlite3


# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

####   We import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements.
> - sqlite3.connect(Database)
> - **cursor()** - we can use the cursor object to call the execute() method to execute any SQL queries.


#### STEPS
> To query data in an SQLite database from Python, you use these steps:

- First, establish a connection to the SQLite database by creating a Connection object.
- Next, create a Cursor object using the cursor method of the Connection object.
- Then, execute a  SELECT statement.
- After that, call the fetchall() method of the cursor object to fetch the data.
- Finally, loop the cursor and process each row individually.

In [2]:

con = sqlite3.connect("C:\\Users\\91906\\Desktop\\New folder\\movies.sqlite")



cur = con.cursor()

## QUESTIONS

#### **Question 1:** Can you get all data about movies?

In [4]:
cur.execute('SELECT * FROM movies')
#use the cursor object to call the execute() method to execute any SQL queries.
movies = cur.fetchall()

#movies -> if u print movies , all the data shown in list manner, can't understanadble

#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

movies = pd.DataFrame(movies, columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.



print('Shape of Movies data :',movies.shape)
print('\n\n\n')
movies.head(3)
#Displays first 3 rows in the table

OperationalError: ignored

In [5]:
movies.info()

NameError: ignored


#### **Question 2:** How do you get all data about directors?

In [ ]:
cur.execute('SELECT * FROM directors')
#use the cursor object to call the execute() method to execute any SQL queries.

directors = cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.


directors = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

print('Shape of Directors data :',directors.shape)
print('\n\n\n')


directors.head(3)

In [ ]:
directors.info()

#### **Question 3:** Check how many movies are present in iMDB.

In [ ]:
cur.execute('SELECT COUNT (*) from movies;')
#use the cursor object to call the execute() method to execute any SQL queries.

count = cur.fetchall()
print("the number of movies is present in IMDB is \t\t\t :",count[0])
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

#### **Question 4:** Find these 3 directors: James Cameron ; Luc Besson ; John Woo

In [ ]:
cur.execute("SELECT * from directors where name == 'James Cameron' or name =='Luc Besson' or name =='John Woo'")

#use the cursor object to call the execute() method to execute any SQL queries.

# where - WHERE clause to get that rows that met these conditions.


three_directors = cur.fetchall()

print("These 3 directors are: \t :",three_directors)
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

#### **Question 5:** Find all directors with name starting with Steven.

In [ ]:

cur.execute("SELECT * from directors where name LIKE 'Steven%'")

#use the cursor object to call the execute() method to execute any SQL queries.

# where - WHERE clause to get that rows that met these conditions.

#LIKE  - LIKE operator is case sensitive, it works like whose names start with particualar word shuould be match

# Example - The d% pattern that uses the percent sign wildcard ( %) matches any string that starts with s e.g.,danger and dance,door.


name_like = cur.fetchall()
print("The name like stevens are: \n \t", name_like)

#### **Question 6:** Count female directors.

In [ ]:

cur.execute(" SELECT COUNT(*) from directors where gender == 1")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.




female_directors = cur.fetchall()
print("The numbe rof femail directors  are: \n \t", female_directors[0])

#### **Question 7:**  Find the name of the 10th first women directors?

In [ ]:
cur.execute("SELECT name FROM directors WHERE gender == 1 ORDER by id asc limit 1 OFFSET 10")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
#ORDER by - To sort the data we use order by , ascending (asc)  OR Descending (dsc)
#LIMIT -  LIMIT clause to constrain the number of rows returned by the query.

# LIMIT_OFFSET - clause to get the nth highest or the nth lowest row
            
tenth= cur.fetchall()
print("The name of the 10th first women directors is: \n\n \t", tenth[0])

#### **Question 8:** What are the 3 most popular movies?

In [ ]:
cur.execute("SELECT original_title  FROM movies ORDER by popularity desc limit 3")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
#ORDER by - To sort the data we use order by , ascending (asc)  OR Descending (dsc)
#LIMIT -  LIMIT clause to constrain the number of rows returned by the query.

# LIMIT_OFFSET - clause to get the nth highest or the nth lowest row
            
most_popular = cur.fetchall()
print("The three most popular movies are: \n\n \t", most_popular)

#### **Question 9:**  What are the 3 most bankable movies?

In [ ]:
cur.execute("SELECT original_title  FROM movies ORDER by budget desc limit 3")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
#ORDER by - To sort the data we use order by , ascending (asc)  OR Descending (dsc)
#LIMIT -  LIMIT clause to constrain the number of rows returned by the query.

# LIMIT_OFFSET - clause to get the nth highest or the nth lowest row
            
most_bankable = cur.fetchall()
print("The three most bankable movies are: \n\n \t", most_bankable)

#### **Question 10:**  What is the most awarded average vote since the January 1st, 2000?

In [ ]:
cur.execute(" SELECT original_title FROM movies WHERE release_date > '2000-01-01' ORDER by vote_average DESC LIMIT 1;")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
#ORDER by - To sort the data we use order by , ascending (asc)  OR Descending (dsc)
#LIMIT -  LIMIT clause to constrain the number of rows returned by the query.

# LIMIT_OFFSET - clause to get the nth highest or the nth lowest row
            
most_awarded_avg = cur.fetchall()
print("The most awarded average vote since the January 1st, 2000: \n\n \t", most_awarded_avg)

### JOINS
> Inner join
> left join
> right join
> full outer join
- #### Explanation

> Inner join : - Wherever the data matching between the two tables only thouse records will displayed . (Only matched in both tables)

> Left join : - All the data which is present on the left side will displayed, irrespective it having matching entry will displays or if it does not match entry on another table

> Right join : - ( vice-versa ) as Left join From right table all records will displayas, irrespective
But in left table who are matching are be displayed

> full outer join : -  It is a combination of  Inner join , Left join, Right join.
> **Full outer join** shows all matching records,
- It will displays all matching records as well as It will display non matching records  On left table and right table.
- It will show every thing on what tables contains
                        
                     
        
**NOTE** 
- >  Left join display all records in left table
- >  Right join display all records in right table
- >  Inner join display only matching records from tables

#### **Question 11:**  Which movie(s) were directed by Brenda Chapman?

In [ ]:

cur.execute("SELECT original_title FROM movies  JOIN directors ON directors.id = movies.director_id WHERE directors.name = 'Brenda Chapman';")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.
# JOIN _ joining the tables ,  INNER JOIN, LEFT JOIN, or CROSS JOIN clause.
#use the cursor object to call the execute() method to execute any SQL queries.

            
directed_by= cur.fetchall()
print("The movie(s) were directed by Brenda Chapman \n\n \t", directed_by)

#### **Question 12:** Whose director made the most movies?

In [ ]:

cur.execute("SELECT name FROM directors  JOIN movies ON directors.id = movies.director_id GROUP BY director_id ORDER BY count(name) DESC limit 1;")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
# JOIN _ joining the tables ,  INNER JOIN, LEFT JOIN, or CROSS JOIN clause.
#inner join -. default join is


            
directed_by= cur.fetchall()
print("The director made the most movies \n\n \t", directed_by)

#### **Question 13:** Whose director is the most bankable?

In [ ]:

cur.execute("SELECT name FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY director_id ORDER BY sum(budget) DESC limit 1;")

#SQLite SELECT statement provides all features of the SELECT statement in SQL standard.

#use the cursor object to call the execute() method to execute any SQL queries.
# JOIN _ joining the tables ,  INNER JOIN, LEFT JOIN, or CROSS JOIN clause.

            
most_bankable_dir= cur.fetchall()
print("The most bankable director is \n\n \t", most_bankable_dir)

# Analysis on IMDB DATA SET

### Budget Analysis

**Question** - List out Top 10 highest budget made movies

In [ ]:
 

cur.execute('SELECT original_title, name, release_date, budget, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY budget DESC')
mostExpensive = cur.fetchall()
mostExpensive = pd.DataFrame(mostExpensive, columns = ['original_title', 'director_name', 'release_date', 'budget', 'revenue'])
mostExpensive.head(10)





> ## Note :

The mostExpensive Table Contains List Of Movies With Highest Production Costs. 

For Your Information, Pirates of the Caribbean: On Stranger Tides, Directed By Rob Marshall, Is The Most Production Costs, It's USD 380,000,000.

### Popularity Analysis

**Question**- List out Top 10 popularity on movies

In [ ]:

cur.execute('SELECT original_title, name, release_date, popularity, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY popularity DESC')
mostPopular = cur.fetchall()
mostPopular = pd.DataFrame(mostPopular, columns = ['original_title', 'director_name', 'release_date', 'popularity', 'revenue'])
mostPopular.head(10)



> ## Note:

mostPopular Table Shows 10 Movies With The Highest Ranking By Popularity. 

Currently, Minions Directed By Kyle Balda Got The First Place With Score 875, Beating Interstellar As The Closest Competitor, Deadpool And The Other Competitors.

### Revenu Analysis

**Question** - What are the top 10 Revenue  movies

In [ ]:

cur.execute('SELECT original_title, name, release_date, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY revenue DESC')
mostProfit = cur.fetchall()
mostProfit = pd.DataFrame(mostProfit, columns = ['original_title', 'director_name', 'release_date', 'revenue'])
mostProfit.head(10)



> ## Note :

The mostProfit Table Shows The 10 Movies Got The Highest Gross Profit When Compared To The Other Movies.

It Turns Out That Avatar Directed By James Cameron Got A Gross Profit USD 2,787,965,087. It's Make Avatar In First Place, Followed By Titanic, The Avengers, Jurassic World, And Others.

From The Table, It Can Be Seen That James Cameron Make Two Movies To Fill The First And Second Place On The Rankings.

**Question** - Display most popular movies with vote_average

In [ ]:

cur.execute('SELECT original_title, release_date, budget, revenue, popularity, vote_average FROM directors JOIN movies ON directors.id = movies.director_id WHERE name = "James Cameron" ORDER BY revenue DESC')
moviesByJamesCameron = cur.fetchall()
moviesByJamesCameron = pd.DataFrame(moviesByJamesCameron, columns = ['original_title', 'release_date', 'budget', 'revenue', 'popularity', 'vote_average'])
moviesByJamesCameron



> ## Note : 

From the mostProfit Table, It Can Be Seen That The Movies In The First And Second Rank Is A Movies Directed By James Cameron.

In The Table moviesByJamesCameron Shows All Movies Directed By James Cameron.

### Voting Analysis

**Question** - List out Particular movie for Voting average and votecount

In [ ]:


cur.execute('SELECT original_title, name, release_date, vote_average, vote_count FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY vote_average DESC')
bestVote = cur.fetchall()
bestVote = pd.DataFrame(bestVote, columns = ['original_title', 'director_name', 'release_date',  'vote_average', 'vote_count'])
bestVote.head(10)

 

> ## Note :

BestVote Table Contains The Best Movies By Vote. Stiff Upper Lips, Directed By Gary Sinyor And Dancer, Texas Pop. 81 Directed by the MacCanlies Was Successfully Becomes the Best Movies By Vote With Perfect Score, 10.

However, There Are Anomalies. It Turned Out That The Two Movies Were Only Vote By One Person. So, Likely to Affect The Assessment Results..

### CORRELATION
- **Correlation** is also a statistical technique that determines how the change of one variable related to another variable affects the relationship.
-  it defines the degree of relation between two variables. There exist three types of correlations - positive and negative, and zero correlations. 



> The main intention of Seaborn heatmap is to visualize the correlation matrix of data for feature selection to solve business problems
> Python data visualization seaborn library has a powerful function that is called sns.heatmap(). 
> annot — **annot** when set to True, the correlation values become visible on the colored cells
> linewidth- **linewidth** Width of the lines that will divide each cell.

In [ ]:
# plot a heatmap of correlation
#corr() is used to create the correlation matrix.
#You'll have to make sure that all the elements in the matrix are of numeric type. 
#If they are not of the numeric type you'll have to add or concat them explicitly.

sns.set(rc = {'figure.figsize': (8, 8)})
sns.heatmap(movies[['budget', 'popularity', 'revenue', 'vote_average', 'director_id']].corr(), 
            annot = True, fmt = '.2f', linewidth = 1);



> ## Note On correlation :

The Heat Map Graph Shows The Effect Between One Variable To The Other Variables. 

In The Graph, It Is Clear That budget Has The Greatest Impact on revenue with 0.73. 

Meanwhile, popularity Is Quite Impact On revenue, And director_id Which Means director_name Also Has A Correlation With revenue, Even Though It Is Small. 

However, vote_average Has A Very Small Correlation With revenue.

### Directors

**Question**- List out the  director names with number of movies and revenue

In [ ]:

cur.execute('SELECT name, COUNT(original_title), SUM(revenue)FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY name ORDER BY SUM(revenue) DESC')
mostProfitableDirector = cur.fetchall()
mostProfitableDirector = pd.DataFrame(mostProfitableDirector, columns = ['director_name', 'movies', 'revenue'])
mostProfitableDirector.head(10)



> ## Note :

The mostProfitableDirector Table Shows The Directors With The Highest Gross Profit. 

Currently, Steven Spielberg Is The Director With The Most Gross Profit, with USD 9,147,393,164 from his 27 movies. 

Then, Peter Jackson With USD 6,498,642,820, James Cameron With USD 5,883,569,439, And The Other Directors.

**Question** - Display all the number of movies for particular director and revenue .

In [ ]:

cur.execute('SELECT name, COUNT(original_title), SUM(revenue) FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY name ORDER BY COUNT(original_title) DESC')
mostProductiveDirector = cur.fetchall()
mostProductiveDirector = pd.DataFrame(mostProductiveDirector, columns = ['director_name', 'movies', 'revenue'])
mostProductiveDirector.head(10)



> ### Note :

The mostProductiveDirector Table Contains The Name Of The Director And The Number Of Movies It Has Directed By Him. 

Steven Spielberg Is The Most Productive Director With 27 Movies Titles He Has Directed. Meanwhile, Woody Allen Has Only 21 Movies Titles. 

Then, Martin Scorsese And Clint Eastwood With 20 Movies Titles.

**Question**- By doing Director analysis We know Steven Spielberg is the highest revenue, so list the Steven Spielberg movies info

In [ ]:
 
cur.execute('SELECT original_title, release_date, budget, revenue, popularity, vote_average FROM directors JOIN movies ON directors.id = movies.director_id WHERE name = "Steven Spielberg" ORDER BY release_date DESC')
moviesByStevenSpielberg = cur.fetchall()
moviesByStevenSpielberg = pd.DataFrame(moviesByStevenSpielberg, columns = ['original_title', 'release_date', 'budget', 'revenue', 'popularity', 'vote_average'])
moviesByStevenSpielberg



> ## Note : 

From Two Tables Above, mostProfitableDirector And mostProductiveDirector, It Can Be Seen That Steven Spielberg Is Always In The First Place. 

It Can Be Understood That Steven Spielberg Has Produced Many And Incredible Movies That Are Shows In The Table MoviesByStevenSpielberg Above.